@import 'styles/variables';

.input {
    background-color: $gray-016;
    border-radius: 8px; 
    padding: 16px;
    width: 100%;
}

.input:hover, .input:focus {
    background-color: $gray-024;
}

@media(max-width: $tablet) {
    .searchBar {
        display: none;
    }
}
