@import "styles/variables";

.form {
    display: grid;
    gap: 32px;
}

.input {
    background-color: $input-color;
    border-radius: 8px; 
    padding: 16px;
}

.input:hover, .input:focus {
    background-color: $input-hover-color;
}

.codeContainer {
    padding: 32px;
    border-radius: 8px;
}

.inputHeader {
    background-color: $black;
    display: flex;
    gap: 8px;
    justify-content: start;
    align-items: center;
    padding: 16px;
    padding-bottom: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    &__red {
        background-color: $red;
    }
    &__yellow {
        background-color: $yellow;
    }
    &__green {
        background-color: $green;
    }
}

.button {
    border-radius: 8px;
    text-align: center;
    padding: 16px;
}

.inputHeader i {
    width: 12px;
    height: 12px;
    border-radius: 99999px;
}

.codeInput {
    background-color: $black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
    height: 384px;
    padding: 16px;
}

.highlight {
    background-color: $transparent-dark-blue;
}

.inputContainer {
    display: grid;
    gap: 16px;
}

.submit {
    background-color: $dark-blue;
    color: black;
}




