@import "styles/variables";

.form {
    display: grid;
    gap: 32px;
}

.input {
    background-color: $input-color;
    border-radius: 8px;
    padding: 16px;
}

::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.codeContainer {
    background-color: #6BD1FF;
    padding: 32px;
    border-radius: 8px;
}

.inputHeader {
    background-color: $black;
    display: flex;
    gap: 8px;
    justify-content: start;
    align-items: center;
    padding: 16px;
    padding-bottom: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    &__red {
        background-color: $red;
    }
    &__yellow {
        background-color: $yellow;
    }
    &__green {
        background-color: $green;
    }
}

.inputHeader i {
    width: 12px;
    height: 12px;
    border-radius: 99999px;
}

.codeInput {
    background-color: $black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
    height: 384px;
    padding: 16px;
}

.highlightButton {
    background-color: $transparent-dark-blue;
    padding: 16px;
    text-align: center;
    border-radius: 8px;
}

.inputContainer {
    display: grid;
    gap: 16px;
}

.colorInput {
    height: 56px;
    border: #FFFFFF solid 1px;
    border-radius: 8px;
    padding: 8px;
    &__options {
        display: none;
        &--active {
            display: grid;
        }
    }
}



