//breakpoints
$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;

//linux colors
$red: #FF5F56;
$yellow: #FFBD2E;
$green: #27C93F;

//theme colors
$darkest-blue: #051D3B;
$dark-blue: #5081FB;
$blue: #7BA4FC;
$soft-blue: #96B9FD;

//button colors
$normal-button: rgba(255, 255, 255, 0.16);
$hover-button: rgba(255, 255, 255, 0.24);

//input color
$input-color: rgba(255, 255, 255, 0.16);
$input-hover-color: rgba(255, 255, 255, 0.24);

//other colors
$black: #141414;
$transparent-dark-blue: rgba(80, 129, 251, 0.08);