@import "styles/variables";

//Standard Select CSS
.select {
    cursor: pointer;
    display: grid;
    position: relative;
    border-radius: 8px;
    background-color: $gray-016;
    border: $gray-016 solid 1px;
    &--active {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border: white solid 1px;
    }
}

.select:hover, .select:focus{
    background-color: $gray-024;
}

.select span:hover {
    background-color: transparent;
}

.select span {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selectedOption {
    text-align: start;
    padding: 16px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: transparent;
}

.options {
    display: none;
    &--active {
        display: grid;
        position: absolute;
        width: 100.4%;
        left: -0.2%;
        margin-top: 58px;
        background-color: $darkest-blue;
        z-index: 1;
    }
}

.option {
    text-align: start;
    padding: 16px;
    background-color: $gray-024;
}

.option:hover {
    background-color: $gray-032;
}



//Select Editor Theme CSS
.selectColor {
    cursor: pointer;
    display: grid;
    border-radius: 8px;
    border: #FFFFFF solid 1px;
    padding: 8px;
    position: relative;
    &--active {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
    }
}

.selectedColor {
    border-radius: 8px;
    height: 40.4px;
}

.colorOptions {
    display: none;
    &--active {
        display: grid;
        position: absolute;
        width: 100.4%;
        left: -0.2%;
        margin-top: 55px;
        background-color: $darkest-blue;
        z-index: 1;
        border: white solid 1px;
        border-top: none;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}

.colorOption {
    height: 40.4px;
    margin: 0 8px 8px 8px;
    border-radius: 8px;
}

.colorOption:first-child {
    margin-top: 8px;
}