@import "styles/variables";

.sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100vh;
    padding: 120.8px 32px 32px 32px;
    border-right: black solid 1px;
    background-color: $transparent-dark-blue;
}

.sidebarHeader {
    position: absolute;
    width: calc(100% + 1px);
    height: 88.8px;
    display: flex;
    align-items: center;
    border-bottom: black solid 1px;
    padding: 32px;
    background-color: $darkest-blue;
}

.sidebarMenu {
    display: grid;
    gap: 16px;
}

@media(min-width: $desktop) {
    .sidebar {
        display: grid;
        align-content: start;
        gap: 16px;
    }
}