@import "styles/variables";

.form {
    display: grid;
    gap: 32px;
}

.sectionContainer {
    display: grid;
    gap: 32px;
    align-self: start;
}

.button {
    border-radius: 8px;
    text-align: center;
    padding: 16px;
}

.highlight {
    background-color: $transparent-dark-blue;
}

.inputContainer {
    display: grid;
    gap: 16px;
}

.selectContainer {
    display: grid;
    gap: 16px;
}

.submit {
    background-color: $dark-blue;
    color: $black;
}

.submit:active {
    background-color: $strong-blue;
}

@media(min-width: $tablet) {
    .selectContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: $desktop) {
    .form {
        grid-template-columns: 1fr 272px;
    }
    .selectContainer {
        grid-template-columns: 1fr;
    }
}




