@import url('https://fonts.googleapis.com/css2?family=Inter&family=Italiana&display=swap');
@import "styles/variables";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button {
    background-color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
}
input, textarea {
    border: none;
    padding: 0;
    outline: none;
}
textarea {
    resize: none;
}
a{
    text-decoration: none;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}

body {
    background-color: $darkest-blue;
    padding: 120.8px 16px 16px 16px;
}

@media(min-width: $tablet) {
    body {
        padding: 120.8px 32px 32px 32px;
    }
}

@media(min-width: $desktop) {
    body {
        padding-left: 312px;
    }
}

::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.title {
    font-size: 21px;
    line-height: 32px;
    font-weight: 700;
}

.sidebarTitle {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 4px;
}


